<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>506392062742-n93ht7jnkam5u8jeh6vna1gcivlvrv3i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.506392062742-n93ht7jnkam5u8jeh6vna1gcivlvrv3i</string>
	<key>API_KEY</key>
	<string>AIzaSyA0V7b-Ag0o-hV3ZHmw3cAhGU_UZ3fGFAI</string>
	<key>GCM_SENDER_ID</key>
	<string>506392062742</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kwaiks.cetakin</string>
	<key>PROJECT_ID</key>
	<string>login-bd2b7</string>
	<key>STORAGE_BUCKET</key>
	<string>login-bd2b7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:506392062742:ios:4fb51bca1a8e9249</string>
	<key>DATABASE_URL</key>
	<string>https://login-bd2b7.firebaseio.com</string>
</dict>
</plist>